.card-body {
    font-family: 'Roboto', sans-serif;
    text-align: center; 
}

div.card.container.box {
    border-style: solid;
    border-color: deeppink;
    border-width: 2px;
}

.card-title {
    font-size: 30px;
}

div.card-text {
    font-size: 20px;
}